body {
    min-height: 100vh;
}

#todo-list {
    margin-top: 10px;
}

.task-item {
    margin-bottom: 10px;
}

.task-completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-buttons {
    margin-top: 10px;
}

#alertas {
    margin-bottom: 15px;
}
